*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0; margin: 0;
  outline: none; border: none;
  caret-color: rgb(35, 224, 154);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
*::selection {
  background: rgb(35, 224, 154);
  color: white;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*todo my custom styles */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.minGap {
  gap: .5rem;
}
.midGap {
  gap: 1.5rem;
}
.font-xs {
  font-size: 10px;
}
.font-sm {
  font-size: 14px;
}
.text-gray {
  color: rgb(165, 165, 165);
}
.text-slate {
  color: rgb(232, 227, 227);
}
.text-start {
  text-align: start;
}
.half-width {
  width: 55%;
}
.my-width {
  width: 85%;
}
.full-width {
  width: 100%;
}
.fit-width {
  width: fit-content;
}
.pointer {
  cursor: pointer;
}
button {
  background: transparent;
  border: none;
}
button:hover {
  color: rgb(35, 224, 154);
}
.transition {
  transition: all .5s;
}

/* Main styles */
#bgParent {
  position: absolute;
  width: 100%;
  height: 100vh;
}
#bgImage {
  position: absolute;
  height: 100vh;
  width: 100%;
  offset: 0;
  inset: 0;
  opacity: .2;
}
main {
  width: 70%;
  height: fit-content;
  padding-block: 1.5rem;
  padding-inline: 2.5rem;
  border: 1px solid #00791e78;
  color: white;
  background: rgba(255, 255, 255, 0.051);
  box-shadow: 0 0px 10px 0 rgba(31, 135, 71, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}
article {
  display: flex;
}

/* Introduction styles */
.introduction {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2em 0 0 0;
}
.traitIcon {
  color: rgb(35, 224, 154);
  font-size: 1.2rem;
}

/* Login styles */

.login {
  background: rgba(128, 128, 128, 0.148);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  border-radius: 10px;
  padding: 2em;
  gap: 1em;
}
.logOption {
  background: rgba(177, 177, 177, 0.264);
  padding: .5em 1em;
  border-radius: 5px;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: rgba(173, 173, 173, 0.369);
  height: 1px;
}

/* Form styles */
.inputContainer {
  padding: .3em 0 .3em .5em;
  border-radius: 5px;
  border:1px solid rgba(173, 173, 173, 0.369);
}
.inputContainer:focus-within {
  border: 1px solid rgba(113, 172, 147, 0.778);
}
.inputContainer input {
  width: 100%;
  color: rgb(35, 224, 154);
  background: transparent;
}
.inputContainer input::placeholder {
  color: rgb(148, 148, 148);
}
.submit {
  margin-top: 1em;
  width: 100%;
  padding: .3em 0em;
  border-radius: 5px;
  color: white;
  background: rgb(35, 224, 154);
  cursor: pointer;
  transition: all .5s;
}
.submit:hover {
  background: rgb(26, 168, 116);
}
.submit:active {
  transform: scale(.95);
}
.important {
  color: white;
  text-decoration: underline;
}
.log {
  color: rgb(35, 224, 154);
  transition: all .5s;
}
.log:hover {
  color: rgb(26, 168, 116);
}

@media screen and (max-width: 1190px) {
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  .login p {
    text-align: center;
  }
}
@media screen and (max-width: 1124px) {
  .introduction {
    display: none;
  }
  .login {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .login {
    padding: .5em;
  }
  .logOption {
    font-size: 12px;
  }
  .nameSectionContainer {
    flex-direction: column;
  }
}
@media screen and (orientation: portrait) {
  main {
    width: 90%;
    padding: .5em;
  }
}